* {
  /* margin: 0;
    padding: 0; */
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Roboto", Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
/* 메인화면 백그라운드 설정 */
.main-background {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(https://images.pexels.com/photos/4503273/pexels-photo-4503273.jpeg);
  background-size: cover;
  /* filter: blur(5px); */
}

.main-background::before {
  content: "";
  opacity: 0.08;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: saddlebrown;
}

/* 전체 layout의 범위 */
/* column : 1 ~ 9 */
/* row  : 1 ~ 11 */
.container {
  /* font-size: 20px; */
  display: grid;
  grid-template-columns: 1.2fr 7fr;
  grid-template-rows: 75px auto;
  grid-template-areas:
    "head head head"
    "nav main main";
}
/* Head Section */
.Head-Area {
  background-color: black;
  grid-area: head;
  display: grid;
  /* padding: 10px; */
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: "ham title etc";
  text-align: center;
  align-items: center;
  opacity: 0.8;
}

.headIcon {
  color: white;
}
/* Hamburger Button Area */
.section1 {
  grid-area: ham;
}
/* Title  Area */
.section2 {
  grid-area: title;
  display: flex;
  color: white;
  justify-content: center;
}

.section3 {
  grid-area: etc;
  display: flex;
  color: white;
  justify-content: right;
}

.section3 p:hover {
  border-radius: 5px;
  background-color: hsl(0, 0%, 40%);
}

.section3 p {
  margin-right: 0.5rem;
}
/* Nav Sections */
.Nav-Area {
  background-color: black;
  grid-area: nav;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  margin-right: 5px;
  min-width: 100px;
  opacity: 0.8;
}
/* items Div Box Settings */
.Nav-Area div {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.Nav-Area div:hover {
  margin: 0.8rem;
  background-color: hsl(0, 0%, 18.82%);
}
.Nav-Area p {
  margin: 5px;
  font-size: 0.8rem;
}

/* Main Sections */
.Main-Area {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1rem;
  grid-template-areas:
    "temp lux image"
    "sand most image"
    "etc1 etc2 image";
}
/* 차트 전체 속성 */
.chart {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 50%);
  padding: 1rem;

  margin: 0.5rem;
}

.chart img {
  display: inline;
  width: auto;
  height: auto;
  max-width: 4rem;
  max-height: 4rem;
  align-items: center;
  padding-left: 0.3rem;
  /* object-fit: contain; */
}

.text {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 60%);
}

.chart-text {
  font-size: 1.4rem;
  font-weight: bolder;
}
.chart p {
  text-align: right;
}
/* 기온 섹션 */
.chart1 {
  grid-area: temp;
  border-top-left-radius: 3rem;
}
.chart1 i {
  color: crimson;
}
.chart2 {
  grid-area: lux;
  border-top-right-radius: 3rem;
}
.chart2 i {
  color: red;
}
.chart3 {
  grid-area: sand;
  border-bottom-left-radius: 3rem;
}
/* .chart3 i {
  color: brown;
} */
.chart4 {
  grid-area: most;
  border-bottom-right-radius: 3rem;
}
.chart4 i {
  color: dodgerblue;
}
.plantImg {
  grid-area: image;
}
.plantImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px;
  opacity: 0.7;
}
